html{
    height:100%;
    width:100%;
}
body {
    background-color: #eee;
    background-image: url("../img/wallpaper.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 65px auto;
    background-color: #E4E4E4;
    border-radius: 5px;

}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
